[Unit]
Description=inventory-agent service
Wants=network-online.target
After=network.target

[Service]
Type=forking
Restart=on-failure
ExecStart=/usr/local/bin/ocsinventory-agent --conf /etc/inventory-agent/inventory-agent.conf --daemon

[Install]
WantedBy=multi-user.target
